*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#667eea,#764ba2);
color:white;
}

.app{
width:350px;
padding:30px;
background:rgba(255,255,255,0.1);
backdrop-filter:blur(10px);
border-radius:15px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

h1{
margin-bottom:20px;
}

.search{
display:flex;
gap:10px;
margin-bottom:20px;
}

.search input{
flex:1;
padding:10px;
border:none;
border-radius:8px;
outline:none;
}

.search button{
padding:10px 15px;
border:none;
border-radius:8px;
background:#ffcc00;
cursor:pointer;
font-weight:bold;
}

.weather-card{
display:none;
margin-top:20px;
}

.main-weather{
display:flex;
justify-content:center;
align-items:center;
gap:15px;
}

.temp{
font-size:40px;
font-weight:bold;
}

.details{
display:flex;
justify-content:space-between;
margin-top:20px;
}

.details div{
text-align:center;
}

.loading{
display:none;
margin-top:15px;
}